body {
	max-width: 100vw;
}

.flowing-pic-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 44.3vh;
	width: 32vh;
}

.alt-big-heading {
	color: var(--light-bg);
	position: absolute;
}

.flowing-pic-wrapper::after {
	content: ;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--light-bg);
	/* z-index: 1; */
	/* animation: flowing-pic-reveal 0.7s ease-in-out forwards; */
}

@keyframes flowing-pic-reveal {
	from {
		height: 100%;
	}
	to {
		height: 0;
	}
}

.flowing-pic {
	width: 100%;
	/* animation: flowing-pic-zoom-out 0.6s linear both; */
}

.pic1 .flowing-pic,
.pic1::after {
	animation-delay: 7s;
}
.pic2 .flowing-pic,
.pic2::after {
	animation-delay: 7.3s;
}
.pic3 .flowing-pic,
.pic3::after {
	animation-delay: 7.6s;
}
.pic4 .flowing-pic,
.pic4::after {
	animation-delay: 7.9s;
}

@keyframes flowing-pic-zoom-out {
	0% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}