footer {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	/* width: 50vw; */
	padding: 1.5rem 2rem;
	/* z-index: -1; */
}

.email {
	font-family: sans-serif;
	font-weight: lighter;
	text-decoration: none;
	/* display: block; */
	font-size: .9rem;
	color: var(--low-op-blue);
}