footer {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
}

.email {
	font-family: sans-serif;
	font-weight: lighter;
	text-decoration: none;
	text-align: right;
	font-size: var(--smaller-font);
	color: var(--low-op-blue);
}