header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo {
	max-height: 50px;
	z-index: 1;
}

.menu-toggle,
.tagline {
	font-family: sans-serif;
	font-weight: lighter;
}

.menu-toggle {
	font-size: 1.1rem;
	height: 1.1rem;
	cursor: pointer;
	color: var(--balsa-blue);
}

.tagline {
	color: var(--low-op-blue);
	font-size: var(--smaller-font);
	display: inline-block;
	width: 10rem;
}
