header,
main {
	/* display: none; */
}

.page-loader-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
}

.big-rectangle {
	width: 100vw;
	height: 1px;
	position: absolute;
	animation: rect-shrink 2s ease-in-out 6s both;
	z-index: 2;
}

.rect-top {
	border-bottom: 1px solid var(--balsa-blue);
	background-color: var(--light-bg);
	top: 0;
}

.rect-bottom {
	background-color: var(--balsa-blue);
	bottom: 0;
}

@keyframes rect-shrink {
	from {
		height: 50vh;
	}
	to {
		height: 0vh;
	}
}

@keyframes rect-opacity {
	0% {
		opacity: 1;
	}
	98% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}

.loader-circle {
	width: 250px;
	height: 250px;
	background-color: var(--balsa-blue);
	border: 1px solid var(--balsa-blue);
	border-radius: 50%;
	outline: 1px solid var(--light-bg);
	overflow: hidden;
	position: relative;
	z-index: 2;
	animation: circle-opacity 1.4s ease 6s forwards;
}

.loader-circle::after {
	content: '';
	width: 350px;
	height: 350px;
	background-color: var(--light-bg);
	border-radius: 40%;
	position: absolute;
	top: -21%;
	left: -21%;
	animation: water-fill 5s ease 2s infinite forwards;
}

@keyframes circle-opacity {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes water-fill {
	from {
		transform: translateY(0) rotate(0);
	}
	to {
		transform: translateY(-85%) rotate(540deg);
	}
}

/* svg {
	z-index: 2;
	position: relative;
	animation: circle-opacity 1.5s ease 6s forwards;
}

#bowl {
	outline: 2px double var(--balsa-blue);
	outline-offset: -1px;
	border-radius: 50%;
}

#clipPath {
	animation: waterClimb 6s linear 1;
	transform: translateY(-110px);
}
#clippingPath {
	animation: waterSlide 1.1s linear 7;
}

@keyframes waterSlide {
	0% {
		transform: translateX(120px);
	}
	100% {
		transform: translateX(-273px);
	}
}

@keyframes waterClimb {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(-70px);
	}
} */