* {
	box-sizing: border-box;
}

:root {
	/* colors */
	--balsa-blue: #001aa1;
	--light-cream: #fcfaf7;
	--lighter-cream: rgba(245, 238, 228, 0.66);
	--light-blue: rgba(0, 21, 160, 0.6);
	--lighter-blue: rgba(0, 21, 160, 0.3);

	/* paddings */
	--hf-padding-vert: clamp(1rem, 4vw, 1.5rem);
	--hf-padding-horz: clamp(1.5rem, 6vw, 2rem);

	/* font families */
	--font-proj-number: ballinger-mono, 'Consolas', monospace;
	--font-circe: Circe, sans-serif;

	/* font sizes */
	--h1-size: clamp(3rem, 10vw, 3.75rem);
	--h2-size: clamp(2rem, 10vw, 2.75rem);
	--smaller-font: clamp(0.7rem, 3.1vw, 0.9rem);

	/* font weights */
	--weight-reg: 400;
	--weight-proj-number: 400;
}

body {
	color: var(--light-cream);
	font-family: var(--font-circe);
	font-weight: 300;
	position: relative;
	background-color: var(--balsa-blue);
	background-image: url('https://www.transparenttextures.com/patterns/egg-shell.png');
}

main {
	/* opacity: 0; */
}

main.about-page {
	padding-bottom: 5rem;
}

h1,
h2,
h3,
.home-main-heading {
	text-transform: uppercase;
}

h1,
h2,
.home-main-heading {
	font-weight: 700;
}

h1 {
	font-size: var(--h1-size);
	max-width: 82vw;
	margin-bottom: 1.25rem;
}

h2 {
	font-size: var(--h2-size);
	margin: 0;
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

a {
	color: var(--light-cream);
	text-decoration: none;
}

.link-button {
	text-transform: uppercase;
	font-weight: var(--weight-reg);
	border-bottom: 1.5px solid var(--light-cream);
	transition: all 0.2s;
	display: inline-block;
	width: fit-content;
}

.link-button:hover {
	margin-bottom: -2px;
	padding-bottom: 2px;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.tagline {
	display: inline-block;
	width: 11rem;
}

@media screen and (min-width: 768px) {
	.h2-wrapper {
		max-width: 50%;
	}
	.tagline {
		font-size: var(--smaller-font);
	}
}

li a.dev {
	color: var(--lighter-cream);
}
