* {
	box-sizing: border-box;
}

:root {
	--balsa-blue: #001aa1;
	--light-bg: #fcfaf7;
	--hf-padding-vert: clamp(1rem, 4vw, 1.5rem);
	--hf-padding-horz: clamp(1.5rem, 6vw, 2rem);
	--smaller-font: clamp(0.7rem, 3.1vw, .9rem);
	--low-op-blue: #4256b7;
}

body {
	background-color: var(--light-bg);
	position: relative;
}