/* General */
@import url(/balsa-website/css/normalize.css);
@import url(/balsa-website/css/style.css);

/* Components */
@import url(/balsa-website/components/cursor/cursor.css);
@import url(/balsa-website/components/header/header.css);
@import url(/balsa-website/components/footer/footer.css);
@import url(/balsa-website/components/menu/menu.css);

/* Pages */
@import url(/balsa-website/page-home/home.css);
@import url(/balsa-website/page-about/about.css);
@import url(/balsa-website/page-press/press.css);
@import url(/balsa-website/page-contact/contact.css);

/* @import url(/css/pages/single-project.css); */

/* Animations */
@import url(/balsa-website/components/menu/menu-anim.css);
@import url(/balsa-website/page-contact/contact-anim.css);

/* @import url(/animations/page-load.css); */
/* @import url(/css/animations/swup.css);
@import url(/css/animations/home-animation.css);
@import url(/css/animations/elements-anim.css);
@import url(/css/animations/footer-anim.css);
@import url(/css/animations/about-anim.css); */
