.contact-body header {
	position: absolute;
}

main.contact-page {
	padding: 2rem;
	padding-top: 6.5rem;
	padding-bottom: 0;
}

.contact-atf {
	display: flex;
	justify-content: space-between;
	/* column-gap: 2rem; */
}

.contact-atf .left {
	flex-basis: 56%;
	/* border: 1px solid var(--light-cream); */
}

.contact-atf .left img {
	max-width: 100%;
	object-fit: scale-down;
	display: block;
}

.contact-atf .right {
	flex-basis: 40%;
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.contact-piece > span:first-of-type {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1.25rem 0 0.95rem;
	border-bottom: 1px solid var(--light-cream);

	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
}

.contact-piece > span:first-of-type::before {
	content: url('./balsa-website/assets/arrow-right2.svg');
	color: var(--light-cream);
	padding-top: 0.25rem;
	position: relative;
	left: -0.35rem;
}

.contact-piece-inner {
	margin: 2rem 0 3rem;
}

.contact-piece li:first-of-type {
	margin-top: 0.5rem;
}

.contact-piece li:last-of-type {
	margin-top: 1.5rem;
}

.contact-piece-inner span {
	display: block;
}

.contact-piece span,
.contact-piece li a {
	line-height: 1.25rem;
}
