.contact-page header {
	position: absolute;
}

main.contact-main {
	padding: 6.5rem 2rem 2rem;
}

.contact-atf {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 1.5rem;
}

.contact-atf .left {
	flex-basis: 56%;
	display: flex;
	align-items: flex-end;
}

.contact-atf .left img {
	max-width: 100%;
	object-fit: scale-down;
	display: block;
	/* display: none; */
	/* min-height: 70vh; */
}

.contact-atf .right {
	flex-basis: 40%;
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.contact-piece > span:first-of-type {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 1.25rem 0 0.95rem;
	border-bottom: 1px solid var(--light-cream);

	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 300;
}

.contact-piece > span:first-of-type::before {
	content: url('/assets/arrow-right2.svg');
	color: var(--light-cream);
	padding-top: 0.25rem;
	padding-right: 0.25rem;
	position: relative;
	left: -0.35rem;
}

.contact-piece li:first-of-type {
	margin-top: 0.5rem;
}

.contact-piece li:last-of-type {
	margin-top: 1.5rem;
}

.contact-piece span,
.contact-piece li a {
	line-height: 1.25em;
}

.contact-piece-inner {
	margin: 2rem 0;
	line-height: 1.25em;
}

.contact-piece-inner span {
	display: block;
}

@media screen and (min-width: 768px) {
	main.contact-main {
		padding-bottom: 0;
	}
	.contact-atf {
		flex-direction: row;
	}
	.contact-piece-inner {
		margin: 2rem 0 4rem;
	}
}