body.homepage {
	min-height: 100vh;
}

main.home {
	padding: 6.5rem 2rem;
	padding-top: 15rem;
}

.home .heading-wrapper {
	height: 50vh;
	display: flex;
	align-items: flex-end;
	padding-bottom: 6rem;
	display: none;
}

.projects-filter {
	position: fixed;
	top: 2.75rem;
	left: 27.5%;
	display: flex;
	justify-content: space-between;
	width: 45%;
	padding: 0;
	border: 0;
	margin: 0;
}

.projects-filter label {
	cursor: pointer;
	font-size: var(--smaller-font);
	color: var(--lighter-cream);
	text-transform: uppercase;
}

.projects-filter input {
	display: none;
}

input[type='radio']:checked + label {
	color: var(--light-cream);
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.projects-grid li {
	border: 1px solid var(--light-cream);
}

.projects-grid li:nth-of-type(1),
.projects-grid li:nth-of-type(2),
.projects-grid li:nth-of-type(3),
.projects-grid li:nth-of-type(4),
.projects-grid li:nth-of-type(5) {
	border: none;
}

.projects-grid img {
	max-width: 382.328px;
	display: block;
}

.grid-block-rect {
	aspect-ratio: 3 / 2;
}

.grid-block-vert {
	grid-row-end: span 2;
}

.grid-block-big-square {
	grid-row-end: span 2;
	grid-column-end: span 2;
	aspect-ratio: 3 / 2;
}

.grid-fix-placement {
	grid-row-start: 4;
}
