.about-page .gap {
	width: 0.775rem;
}
.about-page h1 {
	opacity: 0;
	filter: blur(4px);
	transition: 1.75s cubic-bezier(0.24, 1.15, 0.5, 1);
}
.about-page h1.showing {
	opacity: 1;
	filter: blur(0);
	transition-delay: 1.45s;
}

.about-page h2 {
	transform: translateY(135%) skewY(7deg);
	opacity: 0;
	transition: 1s cubic-bezier(0.24, 1.15, 0.5, 1);
}

.abt--cta-section h2 {
	transform: translateY(200%) skewY(7deg);
	transition: 1s cubic-bezier(0.24, 1.15, 0.5, 1) 0.15s;
}

.about-page h2.showing {
	transform: translateY(0) skewY(0);
	opacity: 1;
}
