.heading-wrapper {
	overflow: hidden;
}

.home-main-heading span,
.main-heading span,
.client-logo-list li {
	display: inline-block;
	transition: 0.75s ease-out 0.25s;
	transform: translateY(100%);
	opacity: 0;
}

/* .homepage .main-heading span {
	transition: 0.75s ease-out 6.25s;
} */

.home-main-heading span.showing,
.main-heading span.showing,
.client-logo-list li.showing {
	transform: translateY(0);
	opacity: 1;
}

.section-reveal::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--light-bg);
	transition: 0.75s ease-out;
}

.section-reveal.showing::after {
	width: 0;
	visibility: hidden;
}

p {
	transform: translateY(2rem);
	opacity: 0;
	transition: 0.75s ease-out 0.25s;
}

p.showing {
	transform: translateY(0);
	opacity: 1;
}

.home-img-wrapper-reveal,
.img-wrapper-reveal {
	position: relative;
	overflow: hidden;
}

div.home-img-wrapper-reveal::after,
div.img-wrapper-reveal::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--balsa-blue);
	opacity: 0;
	z-index: 1;
}

div.showing::after {
	animation: 0.5s fade-in ease 0.5s both,
		cover-imageReveal 0.6s ease-in-out 0.9s both;
}

.home-img-reveal,
.img-reveal {
	opacity: 0;
}

.home-img-reveal.showing,
.img-reveal.showing {
	animation: 0.05s fade-in ease 1s both,
		img-imageReveal 1.2s ease-in-out 0.55s both;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes cover-imageReveal {
	from {
		height: 100%;
	}
	to {
		height: 0;
	}
}

@keyframes img-imageReveal {
	from {
		transform: scale(1.4);
	}
	to {
		transform: scale(1);
	}
}

@keyframes figcaption-reveal {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.figcaption-reveal span {
	position: relative;
	opacity: 0;
}

.figcaption-reveal span.fade-in {
	animation: 0.25s fade-in ease both;
}

.figcaption-reveal span.fade-in::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: var(--balsa-blue);
	position: absolute;
	/* opacity: 0; */
}

.figcaption-reveal span.showing::after {
	animation: figcaption-reveal 0.5s ease 0.5s both;
}
