/* HOVER ON MENU TOGGLE FOR THE CIRCLE TO APPEAR */
.menu-toggle {
  position: relative;
}

.menu-toggle:hover::before {
	transform: scale(1);
}

.menu-toggle:hover::after {
	opacity: 1;
}

.menu-toggle::before {
	content: '';
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -170%;
	left: -41%;
	transform: scale(0.0001);
	transition: all 0.3s;
}

.menu-toggle::after {
	content: 'Menu';
	position: absolute;
	left: 0;
	opacity: 0;
	transition: all 0.5s 0.1s;
}

.outside-toggle::before {
	background-color: var(--balsa-blue);
}

.inside-toggle::before {
	background-color: var(--light-bg);
}

.outside-toggle::after {
	color: var(--light-bg);
}

.inside-toggle::after {
	color: var(--balsa-blue);
}

/* .menu-toggle {
	background-color: #fff;
} */

/* .menu-toggle:hover {
	clip-path: circle(100% at 50% 50%);
} */ 

/* .menu {
	clip-path: circle(2.5rem at 92.25% 7.35%);
	background-color: rgba(255, 0, 0, 0.15);
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
} */

/* .menu,
.menu .menu-toggle {
	display: none;
} */

/* CLICK TO OPEN MENU ANIMATION */
.outside-toggle:hover ~ .menu {
	color: var(--light-bg);
}

.menu {
	clip-path: circle(0.01rem at calc(100% - 3.38rem) 3.24rem);
	color: var(--balsa-blue);
	transition: clip-path 0.6s ease-out;
}

#menu-toggle:checked ~ .menu {
	clip-path: circle(200% at calc(100% - 3.38rem) 3.24rem);
	background-color: var(--balsa-blue);
}