.main-proj-thumb-wrapper::after {
	content: ;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--light-bg);
	/* z-index: 1; */
	/* animation: flowing-pic-reveal 0.7s ease-in-out forwards; */
}

@keyframes flowing-pic-reveal {
	from {
		height: 100%;
	}
	to {
		height: 0;
	}
}

.main-proj-thumb {
	width: 100%;
	/* animation: flowing-pic-zoom-out 0.6s linear both; */
}

.pic1 .flowing-pic,
.pic1::after {
	animation-delay: 7s;
}
.pic2 .flowing-pic,
.pic2::after {
	animation-delay: 7.3s;
}
.pic3 .flowing-pic,
.pic3::after {
	animation-delay: 7.6s;
}
.pic4 .flowing-pic,
.pic4::after {
	animation-delay: 7.9s;
}

@keyframes flowing-pic-zoom-out {
	0% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}


.hideUpText {
	animation: hideUp 0.25s ease-out forwards;
}
.hideDownText {
	animation: hideDown 0.35s ease-out forwards 0.20s;
}
.showUpText {
	animation: showUp 0.4s ease-out forwards 0.5s;
}
.slideUpThenDownBlock {
	animation: slideUp 0.20s forwards, thenSlideDown 0.25s forwards 0.75s;
}
.showDownText {
	animation: showDown 0.5s ease-out forwards 0.8s;
}



@keyframes hideUp {
	to {
		transform: translateY(-50%);
		visibility: hidden;
	}
}
@keyframes slideUp {
	to {
		transform: translateY(30%);
	}
}
@keyframes hideDown {
	to {
		transform: translateY(50%);
		visibility: hidden;
	}
}
@keyframes showUp {
	to {
		transform: translateY(-50%);
		visibility: visible;
	}
}
@keyframes thenSlideDown {
	100% {
		transform: translateY(150%)
	}
}
@keyframes showDown {
	to {
		transform: translateY(50%);
		visibility: visible;
	}
}

.rollOutProjNum {
	animation: rollOut 1.3s ease forwards;
}
.rollInProjNum {
	animation: rollIn 1.3s ease-in-out forwards;
}
@keyframes rollOut {
	to {
		transform: translateY(-100%);
	}
}
@keyframes rollIn {
	to {
		transform: translateY(0);
	}
}