:root {
	--water-fill-duration: 4.7s;
	--site-load-duration: 5.2s;
	--load-bg-color: var(--light-bg);
	--load-line-color: var(--balsa-blue);
	--bowl-color: var(--light-bg);
	--fill-color: var(--light-blue);
}

.page-loader-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
}

.big-rectangle {
	width: 100vw;
	height: 1px;
	position: absolute;
	animation: rect-shrink 1.25s ease var(--site-load-duration) both;
	z-index: 10;
	background-color: var(--load-bg-color);
	background-image: url('https://www.transparenttextures.com/patterns/egg-shell.png');
}

.rect-top {
	border-bottom: 0.5px solid var(--load-line-color);
	top: 0;
}

.rect-bottom {
	border-top: 0.5px solid var(--load-line-color);
	bottom: 0;
}

@keyframes rect-shrink {
	from {
		height: 50vh;
	}
	to {
		height: 0vh;
		visibility: hidden;
	}
}

.load-filling {
	z-index: 11;
	position: relative;
	animation: circle-opacity 0.35s ease var(--site-load-duration) forwards;
}

@keyframes circle-opacity {
	0% {
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.loading-progress {
	position: absolute;
	z-index: 12;
	color: var(--balsa-blue);
	/* color: black; */
	line-height: 3rem;
	font-size: 3.25rem;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	overflow: hidden;
	animation: circle-opacity 0.35s ease var(--site-load-duration) forwards;
}

.load-number {
	width: 1.75rem;
	height: 2.5rem;
	text-align: center;
	vertical-align: center;
	position: relative;
	/* background-color: red; */
}


.load-tens::after,
.load-units::after {
	content: "0 1 2 3 4 5 6 7 8 9";
	position: relative;
}

.load-hundreds::after {
	content: "0 0 0 0 0 0 0 0 0 0 1";
	position: relative;
}

.load-hundreds {
	animation: countUp 4.85s steps(10) forwards;
}

.load-tens {
	animation: countUp 4.85s steps(10);
}

.load-units {
	animation: countUp 0.485s steps(10) 10;
}

@keyframes countUp {
	from {
		top: 0;
	}
	to {
		top: -480px;
	}
}

#bowl {
	outline: 1px double var(--load-line-color);
	outline-offset: -1px;
	border-radius: 50%;
}

#clipPath {
	animation: waterClimb var(--water-fill-duration) linear 1;
	transform: translateY(-110px);
}

@keyframes waterClimb {
	from {
		transform: translateY(50px);
	}
	to {
		transform: translateY(-70px);
	}
}

#clippingPath {
	animation: waterSlide 1.1s linear 5;
}

@keyframes waterSlide {
	from {
		transform: translateX(120px);
	}
	to {
		transform: translateX(-273px);
	}
}

