.press-page {
	overflow-x: hidden;
}

.press-page .header-bottom {
	position: fixed;
	bottom: 0;
	padding-bottom: var(--hf-padding-vert);
}

.press-main {
	display: flex;
	justify-content: flex-start;
	padding: 0 2rem;
}

.heading-area {
	align-self: center;
	/* height: 70vh; */
	max-width: 425px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 11.65rem;
	left: 2rem;
}

.heading-area h1 {
	font-size: var(--h2-size);
	font-weight: 700;
	position: relative;
	bottom: 4.2rem;
}

.press-main .tagline {
	display: none;
}

.press-area {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
	padding-top: 20rem;
	padding-bottom: 15rem;
	overflow-x: scroll;
}

.press-area::-webkit-scrollbar,
.press-group::-webkit-scrollbar {
	display: none;
}

.press-group {
	display: flex;
	column-gap: 1.25rem;
	overflow-y: hidden;
	overflow-x: scroll;
}

.press-row {
	display: flex;
	flex-direction: column;
}

.press-row h2 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.press-cell {
	width: min-content;
	display: flex;
	flex-direction: column;
}

.press-cell img {
	display: block;
	width: 240px;
}

.article-name {
	margin-top: 0.5rem;
}

.proj-location a {
	color: var(--lighter-cream);
	font-size: var(--smaller-font);
}

.press-page footer {
	width: calc(100%);
	padding-left: 2rem;
	display: flex;
	justify-content: space-between;
	font-size: var(--smaller-font);
}

@media screen and (min-width: 840px) {
	.press-main {
		justify-content: flex-end;
	}
}

@media screen and (min-width: 1080px) {
	.press-main .tagline {
		display: inline-block;
		position: fixed;
		bottom: var(--hf-padding-vert);
	}
	.press-main .tagline,
	.press-page footer {
		line-height: 1.25rem;
	}
	.press-page footer {
		justify-content: flex-end;
	}
	.press-page footer .tagline {
		display: none;
	}
}

@media screen and (min-width: 1240px) {
	.heading-area {
		height: 55.1vh;
		position: fixed;
		top: unset;
		bottom: var(--hf-padding-vert);
	}
	.press-main .tagline {
		position: relative;
		bottom: unset;
	}
}
