.press-page footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 0;
	padding-top: 0;
}

.press-page .tagline,
.press-page footer a {
	color: var(--lighter-cream);
}

footer {
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
}

footer,
.menu-footer {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1.5rem;
}

footer li,
.menu-footer li,
.brand span,
.address span {
	line-height: 1.25rem;
}

.brand,
.address,
.contact {
	font-size: var(--smaller-font);
}

.brand {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

.address {
	display: none;
}

.legal ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 0.75rem;
}

.menu-footer .legal li:first-of-type {
	line-height: 1.15;
}

.legal a {
	color: var(--light-cream);
}

@media screen and (min-width: 768px) {
	footer,
	.menu-footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		font-size: var(--smaller-font);
	}
	.brand,
	.legal {
		width: unset;
	}
	.brand {
		margin-bottom: 0;
	}
	.legal ul {
		display: block;
	}
	.legal a {
		color: var(--light-cream);
	}
}

@media screen and (min-width: 830px) {
	.address {
		display: flex;
		flex-direction: column;
	}
}
