footer {
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
}

footer,
.menu-footer {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1.5rem;
}

footer li,
.menu-footer li,
.brand span,
.address span {
	line-height: 1.25rem;
}

.brand,
.address,
.contact {
	font-size: var(--smaller-font);
}

.brand {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	margin-bottom: 0.5rem;
}

.address {
	display: none;
}

.legal ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: 0.75rem;
}

.menu-footer .legal li:first-of-type {
	line-height: 1.15;
}

@media screen and (min-width: 768px) {
	footer,
	.menu-footer {
		flex-direction: row;
		align-items: flex-end;
	}
	.brand {
		width: unset;
		margin-bottom: 0;
	}
	.legal ul {
		display: block;
	}
}

@media screen and (min-width: 830px) {
	.address {
		display: flex;
		flex-direction: column;
	}
}
