body {
	box-sizing: border-box;
	margin: 0;
	background-color: rgb(0, 22, 160);
	color: #fcfaf7;
	font-family: Circe, sans-serif;
	font-weight: 300;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 6rem;
}

img {
	display: block;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 0.5rem;
}

a {
	color: #fcfaf7;
	text-decoration: none;
}
