.homepage footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 0;
	padding-top: 0;
}

.homepage footer a {
	color: var(--lighter-cream);
}

footer {
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
}

footer,
.menu-footer {
	display: flex;
	/* flex-direction: column; */
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 1.5rem;
}

footer li,
.menu-footer li {
	line-height: 1.25rem;
}

.brand,
.address {
	display: flex;
	flex-direction: column;
}

.brand {
	row-gap: 1.5rem;
}

.brand,
.legal {
	width: 100%;
}

.legal ul {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	font-size: 0.75rem;
}

.legal a {
	color: var(--light-blue);
}

@media screen and (min-width: 768px) {
	footer,
	.menu-footer {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		font-size: var(--smaller-font);
	}
	.brand,
	.legal {
		width: unset;
	}
	.legal ul {
		display: block;
		font-size: var(--smaller-font);
	}
	.legal a {
		color: var(--balsa-blue);
	}
}
