header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
	width: 100%;
	position: fixed;
}

.homepage header {
	height: 100vh;
}

.header-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	max-height: 50px;
	max-width: 120px;
	z-index: 1;
}

body:not(.homepage) .header-bottom {
	display: none;
}

.menu-toggle {
	font-size: 1.1rem;
	height: 1.1rem;
	cursor: pointer;
}

.header-bottom .tagline {
	color: var(--lighter-cream);
}
