.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--balsa-blue);
	/* background-image: url('https://www.transparenttextures.com/patterns/egg-shell.png'); */
	background-image: url('https://www.transparenttextures.com/patterns/black-orchid.png');
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
}

/* This is the checkbox */
#menu-toggle {
	display: none;
}

/* This is the label associated with the checkbox */
.menu .menu-toggle {
	color: var(--light-bg);
	align-self: flex-end;
	position: absolute;
	top: 2.625rem;
}

nav li {
	margin: 10px 0;
	/* display: inline-block; */
}

nav a {
	color: var(--light-bg);
	font-size: 3rem;
	font-weight: var(--weight-reg);
	text-transform: uppercase;
	transition: transform 0.25s ease-out;
	transform: translateX(0);
	display: inline-block;
}

nav a:hover {
	transform: translateX(1rem);
}

.menu-footer,
.menu-footer .tagline,
.menu-footer a {
	color: var(--light-bg);
}
