.about-page {
	display: flex;
	flex-direction: column;
	row-gap: 10rem; /* come back here */
}

.abt--section {
	padding-top: var(--hf-padding-vert);
	padding-right: var(--hf-padding-horz);
	padding-bottom: var(--hf-padding-vert);
	padding-left: var(--hf-padding-horz);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* BEGINNING OF THE ABOVE THE FOLD SECTION */
.abt--atf {
	justify-content: flex-end;
	height: 100vh;
}
.abt--atf .img-wrapper {
	/* height: 50vh; */
	/* width: 100%; */
	/* background-image: url(./../../assets/projetos/houmei/hm-1.jpeg); */
	/* background-size:cover; */
	/* background-position: center; */
	/* overflow: hidden; */
}
.abt--atf img {
	max-height: 50vh;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
/* END OF THE ABOVE THE FOLD SECTION */

/* BEGINNING OF ABOUT STUDIO AND ABOUT TEAM */
.about-studio-text,
.about-team-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	row-gap: 3rem; /* come back here */
}

.about-studio-text div,
.about-team-text p {
	/* max-width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/* padding-left: 7rem; */
}
/* END OF ABOUT STUDIO AND ABOUT TEAM */

/* BEGINNING OF TESTIMONIAL AND CLIENT LOGOS */
.abt--testimonial,
.abt--client-logos {
	align-items: center;
}
/* END OF TESTIMONIAL AND CLIENT LOGOS */

/* BEGINNING OF THE ABOUT THE STUDIO SECTION */
.abt--about-studio {
	row-gap: 5rem;
}

.about-studio-text p {
	margin: 0.75rem 0; /* come back here */
}

.about-studio-image figure {
	margin: 0;
	display: flex;
	flex-direction: column;
	column-gap: 1.5rem;
	row-gap: 1rem; /* come back here */
}

.about-studio-image img {
	max-width: 100%;
}

.about-studio-image figcaption {
	width: 7rem; /* come back here */
	height: min-content;
	font-size: var(--smaller-font);
}
/* END OF THE ABOUT THE STUDIO SECTION */

/* BEGINNING OF THE TESTIMONIAL SECTION */
.abt--testimonial p {
	font-size: 2rem;
	margin-bottom: 2.5rem;
	position: relative;
}

.abt--testimonial p::before {
	content: '"';
	position: absolute;
	top: -9rem;
	left: -2rem;
	font-family: 'BIZ UDPGothic', sans-serif;
	font-family: var(--font-proj-number);
	font-size: 10rem;
	transform: rotate(180deg);
	color: var(--lighter-blue);
}

/* Visually centering the section elements */
.abt--testimonial p,
.abt--testimonial > span {
	padding-left: 3rem;
	width: 78%;
}

.client-name {
	font-weight: var(--weight-reg);
}

.client-company {
	color: var(--light-blue);
}
/* END OF THE TESTIMONIAL SECTION */

/* BEGINNING OF THE SERVICES SECTION */
.abt--expertise {
	flex-direction: row;
	align-items: baseline;
}

.abt--expertise ul {
	width: 100%;
	max-width: 50%;
	padding-left: 5.75rem; /* come back here */
}

.abt--expertise summary::marker {
	content: '';
}

.abt--expertise details {
	border-bottom: 1px solid var(--balsa-blue);
}

.abt--expertise details:hover {
	border-color: var(--light-bg);
}

.abt--expertise h3 {
	padding: 1.25rem;
	margin: 0;
	cursor: pointer;
}

.abt--expertise li:hover {
	background-color: var(--balsa-blue);
	color: var(--light-bg);
}

/* The following rules only influence the UI when the details elements are open */
.abt--expertise details[open] {
	background-color: var(--balsa-blue);
	color: var(--light-bg);
	border-bottom: 1px solid var(--light-bg);
}

.abt--expertise p {
	line-height: 1.5rem;
	margin-top: 0;
	margin-left: 1.5rem;
}

.abt--expertise a {
	margin: 0.5rem 0 1.5rem 1.5rem;
	color: var(--light-bg);
	border-color: var(--light-bg);
}

.abt--expertise a:hover {
	margin-bottom: calc(1.5rem - 2px);
}
/* END OF THE SERVICES SECTION */

/* BEGINNING OF THE CLIENT LOGOS SECTION */
.abt--client-logos {
	row-gap: 3.75rem;
}

.abt--client-logos h2 {
	text-align: center;
}

.abt--client-logos ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2rem;
	justify-content: center;
}
/* END OF THE CLIENT LOGOS SECTION */

/* BEGINNING OF THE ABOUT TEAM SECTION */
.about-team-text p {
	margin: 0;
}

.abt--about-team {
	row-gap: 7.5rem;
}

.about-partners-container {
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}

.about-partner {
	display: flex;
	flex-direction: column;
}

.about-partner figure {
	display: flex;
	gap: 1rem;
	margin: 0;
}

.about-partner figcaption {
	font-size: var(--smaller-font);
	font-weight: var(--weight-reg);
	width: 6rem;
}

.about-sarah figure {
	justify-content: flex-end;
}

.about-sarah figcaption {
	text-align: right;
}

.about-partner-text {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.about-sarah .about-partner-text {
	align-items: flex-end;
}
.about-paulo .about-partner-text {
	align-items: flex-start;
}

.about-partner-text p,
.abt--about-team img {
	max-width: 50vw;
}
/* END OF THE ABOUT TEAM SECTION */

/* BEGINNING OF THE CTA SECTION */
.abt--cta-section {
	background-color: var(--balsa-blue);
	color: var(--light-bg);
	height: 35vh;
	justify-content: space-between;
	margin-left: var(--hf-padding-horz);
	position: relative;
}

/* This rule is separated from the block above because of specifity overwriting */
section.abt--cta-section {
	padding: 2.5rem 2.35rem;
}

.abt--cta-section .h2-wrapper {
	max-width: 75%;
}

.abt--cta-section .link-button {
	border-color: var(--light-bg);
	color: var(--light-bg);
}
/* END OF THE CTA SECTION */

@media screen and (min-width: 768px) {
	.abt--atf img {
		height: unset;
	}
	.about-studio-text,
	.about-team-text {
		flex-direction: row;
	}
	.about-studio-text div,
	.about-team-text p {
		max-width: 50%;
		padding-left: 7rem; /* come back here */
	}
	.about-studio-image figure {
		flex-direction: row;
		align-items: flex-end;
	}
	.about-studio-image .img-wrapper {
		max-width: 70%;
	}
	.abt--client-logos .h2-wrapper {
		max-width: 60%;
	}
	.about-partners-container {
		row-gap: unset;
	}
	.about-partner {
		flex-direction: row;
		align-items: center;
	}
	.about-paulo {
		flex-direction: row-reverse;
	}
	.about-partner figure {
		width: 50%;
	}
	.about-partner-text {
		width: 20vw;
		display: block;
	}
	.about-sarah figure {
		padding-right: 3rem;
		align-items: flex-end;
	}
	.about-paulo figure {
		padding-left: 3rem;
	}
	.about-paulo div {
		text-align: right;
	}
	.abt--about-team img {
		max-width: 25.6vw;
	}
	.about-partner-text p {
		max-width: unset;
	}
}