/* .header-reveal {
	opacity: 0;
	transition: 0.5s ease 0.1s;
}

.header-reveal-on {
	opacity: 1;
} */

/* HOVER ON MENU TOGGLE FOR THE CIRCLE TO APPEAR */
.menu-toggle {
	position: relative;
}

.menu-toggle:hover::before {
	transform: scale(1);
}

.menu-toggle:hover::after {
	opacity: 1;
}

/* Circle */
.menu-toggle::before {
	content: '';
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -170%;
	left: -41%;
	transform: scale(0.0001);
	transition: all 0.3s;
}

/* "Menu" word */
.menu-toggle::after {
	content: 'Menu';
	position: absolute;
	left: 0;
	opacity: 0;
	transition: all 0.5s 0.1s;
}

.out-toggle::before {
	/* background-color: var(--balsa-blue); */
	background-color: var(--light-cream);
}

.in-toggle::before {
	background-color: var(--light-cream);
}

.out-toggle::after {
	/* color: var(--light-cream); */
	color: var(--balsa-blue);
}

.in-toggle::after {
	color: var(--balsa-blue);
}

/* CLICK TO OPEN MENU ANIMATION */
.out-toggle:hover ~ .menu {
	color: var(--light-cream);
}

.menu {
	clip-path: circle(0.01rem at calc(100% - 3.38rem) 3.24rem);
	color: var(--balsa-blue);
	transition: clip-path 0.6s ease-out;
}

#menu-toggle:checked ~ .menu {
	clip-path: circle(200% at calc(100% - 3.38rem) 3.24rem);
	background-color: var(--balsa-blue);
}
